@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-end-orange: #ee3600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:url(/bg.png) no-repeat center / cover, /* Add your image here */ linear-gradient(to bottom, #be7507, #be7507), rgb(198 209 211 / 57%);
  scrollbar-width: 0;
}


body::-webkit-scrollbar{
  width: 0;
  display: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
